
.nav {
    grid-area: n;
    background-color: midnightblue ;
    padding: 20px;
}

.item a {
    color: azure;
    text-decoration: none;
}

.item a.activeLink {
    color: cornflowerblue;
}

.active {
    color: darkgray ;
}