.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;

}
.dialogs a{
    text-decoration: none;
}
.dialogsItem {
    color: dimgray;
}

.dialog.active {
    color: navy;
}

.messages {

}

.message {

}